commerce/rfq/force-app/main/default/flows/Spring_2021_Subflow_Quote_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create a Quote from the Cart</description>
        <name>Request_Quote</name>
        <label>Request Quote</label>
        <locationX>994</locationX>
        <locationY>248</locationY>
        <actionName>b2ble_cpq_cnctr__RequestQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_Confirmation_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>cartIds</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Checkout_Session_State</name>
        <label>Update Checkout Session State</label>
        <locationX>406</locationX>
        <locationY>492</locationY>
        <actionName>updateCheckoutSessionStateAction</actionName>
        <actionType>updateCheckoutSessionStateAction</actionType>
        <connector>
            <targetReference>Close_Cart</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>nextState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <constants>
        <description>Variable to redirect a B2B Buyer to the page post Quote Checkout</description>
        <name>quoteCheckoutRedirectPage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>%00</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks that all conditions are met to close the cart</description>
        <name>Should_Close_Cart</name>
        <label>Should Close Cart</label>
        <locationX>398</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Ring_Cart_to_Quote_Bell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Close_Cart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldArchiveCheckoutAndCloseCart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Newest_Cart.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Checkout_Session_State</targetReference>
            </connector>
            <label>Do Close Cart</label>
        </rules>
    </decisions>
    <interviewLabel>(Spring 2021) Subflow - Quote Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>(Spring 2021) Subflow - Quote Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordLookups>
        <name>Get_Newest_Cart</name>
        <label>Get Newest Cart</label>
        <locationX>150</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Close_Cart</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Cart</name>
        <label>Close Cart</label>
        <locationX>650</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Ring_Cart_to_Quote_Bell</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Checkout</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Quote_Confirmation_Page</name>
        <label>Quote_Confirmation</label>
        <locationX>1148</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectComponent</name>
            <extensionName>forceCommunity:flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <elementReference>quoteCheckoutRedirectPage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Get_Newest_Cart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Ring_Cart_to_Quote_Bell</name>
        <label>Ring Cart to Quote Bell</label>
        <locationX>840</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Request_Quote</targetReference>
        </connector>
        <flowName>Cart_to_Quote_Bell</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>275</locationX>
        <locationY>750</locationY>
        <flowName>Spring_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shouldArchiveCheckoutAndCloseCart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
